aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
astroid==3.2.4
asttokens==2.4.1
async-timeout==5.0.1
attrs==24.3.0
bcrypt==4.2.0
bitarray @ file:///Users/aivar/python_stuff/thonny/packaging/mac/universal_dists/bitarray-2.9.2-cp310-cp310-macosx_10_9_universal2.whl
bitstring==4.2.3
blinker==1.9.0
certifi==2024.8.30
cffi @ file:///Users/aivar/python_stuff/thonny/packaging/mac/universal_dists/cffi-1.17.1-cp310-cp310-macosx_10_9_universal2.whl
charset-normalizer==3.4.1
ckzg==2.0.1
click==8.1.8
cryptography @ file:///Users/aivar/python_stuff/thonny/packaging/mac/universal_dists/cryptography-38.0.4-cp36-abi3-macosx_10_10_universal2.whl
cytoolz==1.0.1
dill==0.3.8
docutils==0.21.2
ecdsa==0.19.0
esptool==4.7.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.6.0
eth-rlp==2.1.0
eth-typing==5.0.1
eth-utils==5.1.0
eth_abi==5.1.0
Flask==3.1.0
frozenlist==1.5.0
hexbytes==1.2.1
idna==3.10
intelhex==2.3.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
multidict==6.1.0
mypy==1.11.2
mypy-extensions==1.0.0
numpy==2.1.3
pandas==2.2.3
paramiko==3.4.1
parsimonious==0.10.0
parso==0.8.4
platformdirs==4.3.2
propcache==0.2.1
ptyprocess==0.7.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.4
pydantic_core==2.27.2
pylint==3.2.7
PyNaCl==1.5.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
pyunormalize==16.0.0
PyYAML @ file:///Users/aivar/python_stuff/thonny/packaging/mac/universal_dists/PyYAML-6.0.2-cp310-cp310-macosx_10_9_universal2.whl
reedsolo==1.7.0
regex==2024.11.6
requests==2.32.3
rlp==4.0.1
Send2Trash==1.8.3
six==1.16.0
thonny==4.1.6
tomli==2.0.1
tomlkit==0.13.2
toolz==1.0.0
types-requests==2.32.0.20241016
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
web3==7.6.1
websockets==13.0.1
Werkzeug==3.1.3
yarl==1.18.3
